<div class="author">
  <h1 class="author__heading">Hi, I'm Anıl</h1>
  <p class="author__body">Web Developer and Content Creator.</p>
</div>

<img
  src="/img/hero-image.webp"
  alt="person looking out through window"
  class="hero-image"
  width="980"
  height="520"
/>

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list__data">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
